body{
    background-image: url('https://plus.unsplash.com/premium_photo-1672582776474-fc85ebaa1b73?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D.jpg');
    font-family: 'Courier New', Courier, monospace;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    height: 90vh;
    max-width: 100vw;
}

h1, h2{
    color: rgb(243, 82, 18);
    text-align: left;
    font-weight: bolder;
    font-size: 5rem;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
#increase, #decrease{
    border: none;
    padding: 5px;
    color: white;
    background-color: rgb(91, 149, 29);
    font-size: 4rem;
    font-weight: bolder;
    border-radius: 40px;
    height: 5rem;
    width: 5rem;
}

#decrease{
    background-color: darkred;
    display: flex;
    justify-content: center;
}